*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  z-index: 10;
  transition:
    opacity 0.5s ease,
    display 0.5s ease allow-discrete;
}

.loading-overlay-bar-outer {
  position: absolute;
  top: 50%;
  width: calc(100% - 100px);
  margin: 0 50px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-50%);
}

.loading-overlay-bar-outer.hidden {
  display: none;
}

.loading-overlay-bar-inner {
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 1);
}

.loading-overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: 2px solid #fff;
  padding: 20px;
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}

.loading-overlay-button.hidden {
  display: none;
}

.loading-overlay-button:hover {
  box-shadow: inset 0 0 1px 2px #fafafa;
}
