@import './../../../dialog.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.webrtc-setup .hidden {
  display: none;
}

.webrtc-setup__option {
  width: 100%;
  min-height: 50px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  color: #142867;
  background: #dcc6bb;
  box-shadow: 0px 0px 3px 3px #dcc6bb;
  border: none;
  padding: 0 15px 0 5px;
  margin-bottom: 10px;
}
