*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

:host(.opened) {
  display: block;
}

.webrtc-setup .hidden {
  display: none;
}