.dialog {
  position: fixed;
  max-height: 70vh;
  max-width: 50%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #776a64b8;
  border: 1px solid #414141;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
