* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.controll-panel {
  position: absolute;
  bottom: 0;
  background-color: wheat;
  height: 130px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.controll-panel__player {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controll-panel__player-round {
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: darkgrey;
}

/* Menu start */

.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.main-menu--opened {
  display: flex;
}

.main-menu--closed {
  display: none;
}

.main-menu--opened + .main-menu-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main-menu__button {
  width: 100%;
  height: 30px;
}
