*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html,
body {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  line-height: 1.5;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.controll-panel {
  position: absolute;
  bottom: 0;
  background-color: wheat;
  height: 130px;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}

.controll-panel__player {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controll-panel__player-round {
  border: 1px solid black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: darkgrey;
}
